footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  font-size: 0.85rem;
  width: 98%;
}
footer a {
  padding: 1rem;
  margin: 1rem;
}
@media (max-width: 500px) {
  footer {
    padding: 1rem 0;
    margin: 1rem 0;
  }
}
article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
article .svg-container {
  width: 100%;
  position: absolute;
  top: 0;
}
article .svg-container svg {
  width: 100%;
  height: 100%;
  filter: drop-shadow(4px 9px 3px rgba(0, 0, 0, 0.25));
}
article .article-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12rem 8rem 0rem 8rem;
  margin: 0 auto;
}
article .article-container div.reverse {
  order: 2;
}
article .article-container img.reverse {
  order: 1;
}
article .article-container .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 2.5rem;
  width: 40%;
}
article .article-container .text-content h3 {
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  article article {
    width: 100%;
  }
  article img {
    display: none;
  }
  article .article-container {
    padding: 3rem 0rem;
    margin: 0 auto;
    width: 100%;
  }
  article .article-container .text-content {
    padding: 0 0.5rem;
    margin: 0;
    text-align: center;
    width: 100%;
  }
}
.svg-container-end {
  background-color: #403850;
  height: 100%;
  width: 100%;
}
.svg-container-end svg {
  width: 100%;
  height: 100%;
  filter: drop-shadow(4px 9px 3px rgba(0, 0, 0, 0.25));
}
article[data-article="1"] {
  background-color: #FFFFFF;
  color: #403850;
}
article[data-article="1"] button {
  background-color: #F8A429;
  color: #FFFFFF;
  border-radius: 0.3em;
  border: none;
  padding: 0.5em 1em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
@media (max-width: 500px) {
  article[data-article="1"] button {
    width: 60%;
  }
}
article[data-article="2"] {
  background-color: #F8A429;
  color: #FFFFFF;
}
article[data-article="2"] button {
  background-color: #1EC0B8;
  color: #FFFFFF;
  border-radius: 0.3em;
  border: none;
  padding: 0.5em 1em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
@media (max-width: 500px) {
  article[data-article="2"] button {
    width: 60%;
  }
}
article[data-article="3"] {
  background-color: #FFFFFF;
  color: #403850;
}
article[data-article="3"] button {
  background-color: #F8A429;
  color: #FFFFFF;
  border-radius: 0.3em;
  border: none;
  padding: 0.5em 1em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
@media (max-width: 500px) {
  article[data-article="3"] button {
    width: 60%;
  }
}
article[data-article="4"] {
  background-color: #1EC0B8;
  color: #FFFFFF;
}
article[data-article="4"] button {
  background-color: #FF6584;
  color: #FFFFFF;
  border-radius: 0.3em;
  border: none;
  padding: 0.5em 1em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
@media (max-width: 500px) {
  article[data-article="4"] button {
    width: 60%;
  }
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: #403850;
  font-size: 1rem;
}
nav a {
  padding: 1rem;
  margin: 1rem;
}
nav .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
nav .nav-links-login {
  color: #F8A429;
  border: 0.2rem solid #F8A429;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  margin: 0 1rem;
}
nav .nav-links-signup {
  color: #FF6584;
  border: 0.2rem solid #FF6584;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  margin: 0 1rem;
}
@media (max-width: 500px) {
  nav {
    display: none;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-links-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-links-login {
    padding: 0.5rem 2.5rem;
    margin: 1rem;
    width: 60%;
    text-align: center;
  }
  .nav-links-signup {
    padding: 0.5rem 2.5rem;
    margin: 1rem;
    width: 60%;
    text-align: center;
  }
}
body {
  font-size: 10px;
  font-family: 'Nunito', sans-serif;
  background-color: #403850;
}
body img {
  width: 50%;
  max-height: 80%;
}
body h1,
body h2,
body h3,
body h4 {
  font-family: 'Lobster Two', cursive;
}
body h1 {
  color: #FFFFFF;
  font-size: 8rem;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0;
  margin-top: 2rem;
  font-weight: normal;
}
@media (max-width: 500px) {
  body h1 {
    font-size: 5rem;
  }
}
body a {
  text-decoration: none;
  color: #FFFFFF;
}
body .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
body .container .cta {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body .container .cta p {
  color: #FFFFFF;
  font-size: 2.4rem;
  margin: 1rem 0 1rem 0;
}
body .container .cta .cta-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
}
body .container .cta .cta-buttons .cta-signup {
  background-color: #FF6584;
  color: #FFFFFF;
  border-radius: 0.3em;
  border: none;
  padding: 0.5em 1em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin: 0 0.5rem;
}
@media (max-width: 500px) {
  body .container .cta .cta-buttons .cta-signup {
    width: 60%;
  }
}
body .container .cta .cta-buttons .cta-login {
  background-color: #F8A429;
  color: #FFFFFF;
  border-radius: 0.3em;
  border: none;
  padding: 0.5em 1em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  width: 6rem;
  margin: 0 2rem;
}
@media (max-width: 500px) {
  body .container .cta .cta-buttons .cta-login {
    width: 60%;
  }
}
@media (max-width: 500px) {
  body .container .cta .cta-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
}
body .container .main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
