@import 'mixins.less';
@import 'variables.less';
@import '../components/footer/footer.less';
@import '../components/home-articles/articles-home.less';
@import '../components/navbar/nav.less';
@import '../Components/plans-articles/articles-plans.less';

body {
    font-size: 10px;
    font-family: @mainFont;

    h1, h2, h3, h4 {
        font-family: @accentFont;
    }

    a {
        text-decoration: none;
        color: @white;
    }
}
